extends layout

block content
  h1="SQS Messages"
  if messages
    table
      tr
        th="Message ID"
        th="Message Body"
      each message in messages
        tr
          td=message.MessageId
          td
            code=message.Body
  else
    div="No messages"